<!DOCTYPE html>
<html lang="en">

<head>
	<title>Bootstrap Example</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>

	<div class="container">
		<h2>Person List</h2>
		<p>List of user:</p>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th scope="col">Avatar</th>
					<th scope="col">Email</th>
					<th scope="col">First_name</th>
					<th scope="col">Id</th>
					<th scope="col">Last_name</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let e of lis;">


					<td><img  class="images" src="{{ e.avatar}}"/></td>
					<td>{{ e.email}}</td>
					<td>{{ e.first_name}}</td>
					<td>{{ e.id}}</td>
					<td>{{ e.last_name}}</td>


				</tr>
			</tbody>
		</table>
	</div>

</body>

</html>